---
import Layout from "@/layouts/PageLayout.astro";
import "@/styles/pages.css";
import { getLangFromUrl } from "@/i18n/utils";
import { useTranslations } from "@/i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<Layout frontmatter={{ title: t("nav.about") }}>
  <p>Hi 👋</p>

  <p>
    You can call me tantuyu. I love exploring new tools in various tech
    communities, and I'm good at learning new tools quickly and applying them
    practically.
  </p>

  <p>
    This site is built with Astro framework, styled with Tailwind CSS, and uses
    React for some components.
  </p>

  <p>Current tech stack: TypeScript, React, Tailwind CSS, Astro, Next.js.</p>
</Layout>
