---
import Layout from "../layouts/Layout.astro";
import TechStacks from "../components/react/TechStacks";
import { getCollection } from "astro:content";

const site = await getCollection("site");
const author = site[0]?.data.author;
---

<Layout>
  <div class="w-full">
    <TechStacks techStacks={author.techStacks} client:load />
  </div>
</Layout>
