---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostsList from "@/components/react/PostsList";
// 獲取所有文章
const allPosts = await getCollection("posts");

// 可以進行排序（按發布日期降序）
const postsList = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <h1>Posts</h1>
  <PostsList client:only="react" posts={postsList} />
</Layout>
