---
import { getCollection } from "astro:content";

const site = await getCollection("site");
const author = site[0]?.data.author;
---

<footer class="flex items-center justify-between px-4">
  <p class="mx-auto">© 2025 {author.name}. All rights reserved.</p>
</footer>
