<p id="local-time">
  {
    new Date().toLocaleTimeString("zh-TW", {
      hour: "2-digit",
      minute: "2-digit",
    })
  }
</p>

<script>
  const localTime = document.getElementById(
    "local-time",
  ) as HTMLParagraphElement;
  localTime.textContent = new Date().toLocaleTimeString("zh-TW", {
    hour: "2-digit",
    minute: "2-digit",
  });
  setInterval(() => {
    localTime.textContent = new Date().toLocaleTimeString("zh-TW", {
      hour: "2-digit",
      minute: "2-digit",
    });
  }, 1000);
</script>
