---
const { title } = Astro.props;
---

<div
  class="absolute top-19 left-12 -z-50 font-bold select-none md:top-60 md:left-12 lg:top-80 lg:left-50"
>
  <h1
    class="text-primary/20 to-primary/20 m-0 bg-gradient-to-l from-transparent bg-clip-text text-[6rem] text-transparent md:text-[10rem] lg:text-[12rem]"
  >
    {title}
  </h1>
</div>
