---
const { title } = Astro.props;
---

<div
  class="absolute top-60 left-20 z-[-1] text-6xl font-bold select-none sm:text-8xl"
>
  <h1 class="text-primary/10 m-0">{title}</h1>
  <div
    class="from-background absolute top-0 right-0 bottom-0 h-full w-full bg-gradient-to-l to-transparent"
  >
  </div>
</div>
