---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const site = await getCollection("site");
const title = site[0]?.data.title;
const description = site[0]?.data.description;
const url = site[0]?.data.url;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="url" content={url} />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <ClientRouter />
  </head>
  <body class="m-0 h-full w-full">
    <Header />
    <main>
      <div
        class="mx-auto w-full px-6 py-8 md:w-4/5 lg:w-3/5"
        transition:name="main"
        transition:animate="slide"
      >
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  @import "../styles/global.css";
</style>
