---
import Layout from "./Layout.astro";
import { Separator } from "@/components/ui/separator";
import { PencilLine } from "lucide-react";

const { frontmatter } = Astro.props;
const pubDate = new Date(frontmatter.pubDate);
const titleCategories =
  frontmatter.title +
  (frontmatter.categories ? " ∈ " + frontmatter.categories : "");
---

<Layout>
  <div
    class="bg-foreground/5 border-foreground/10 rounded-lg border p-4 backdrop-blur-sm"
  >
    <h1 class="mt-0 text-2xl font-bold">
      {titleCategories}
      {frontmatter.draft ? <PencilLine className="w-4 h-4" /> : ""}
    </h1>
    <p class="text-sm text-gray-500">{frontmatter.description}</p>
    <p class="text-sm text-gray-500">{pubDate.toLocaleDateString("zh-TW")}</p>

    <div class="my-4 flex flex-wrap gap-2">
      {
        frontmatter.tags?.map((tag: string) => (
          <span class="bg-background hover:bg-foreground/10 rounded-md px-2 py-1 text-sm transition-all">
            {tag}
          </span>
        ))
      }
    </div>

    <Separator />
    <slot />
  </div>
</Layout>
