---
import Layout from "./Layout.astro";
import { Separator } from "@/components/ui/separator";
const { frontmatter } = Astro.props;
---

<Layout>
  <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
  <p class="text-sm text-gray-500">{frontmatter.description}</p>
  <p class="text-sm text-gray-500">{frontmatter.pubDate}</p>
  <Separator />
  <slot />
</Layout>
